services:
  db:
    image: mysql:8.0
    container_name: zerohunger-db
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: zerohunger
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

volumes:
  db_data:
